body {
/*   background: #cff; */
  background: #ccc;
}
.container {
  width: 800px;
}
header {
  padding-top: 20px;
}

header img {  
  padding: 0.3em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 1px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

#innerholder{margin:1px auto; width:90%;}
#innerholder h3 span{background:url(****) no-repeat;height:15px; display:block;}			
#loginbutton{background:#999; color:#fff;cursor:pointer;padding:5px 10px;-moz-border-radius:6px;-webkit-border-radius:4px;width:150px;}
input{background: #fff;width: 230px;font-family:arial, helvetica; font-size:18px; font-weight:bold;}			
#label {padding-bottom:5px; text-align:left;}
#input {padding-bottom:5px; text-align:left;}

a.button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 100px;
  color: #fff;
  background: #006400;
  font-size: 100%;
  font-weight: bold;
  padding: 5px ;
}
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


/* Links */
a {
  color: #09c;
  text-decoration: none;
}
a:hover {
  color: #069;
  text-decoration: underline;
}
a:visited {
  color: #069;
}

/* Navigation */
nav {
  float: right;
}
nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}
nav ul {
  margin: 0;
  padding: 0;  
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}
nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
nav ul li a:visited {
  color: #09c;
}
div nav ul li a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* DIV*/
div ul {  
  margin: 0;
  padding: 0;
}
div ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.8em 0;  
}
div ul li span {
  float:left; 
  padding: 5px 5px;
  font-weight: bold;
}
div ul li a:visited {
  color: #09c;
}
div ul li a:hover {
  text-decoration: none;
}

